<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.orderinfo.dao.OrderInfoDao">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.business.orderinfo.domain.vo.OrderInfoVO">
        SELECT
        *
        FROM t_order_info
        WHERE 1=1
        <if test="queryForm.currency != null and queryForm.currency != ''">
            and currency = #{queryForm.currency,jdbcType=VARCHAR}
        </if>
        <if test="queryForm.orderNo != null and queryForm.orderNo != ''">
            and order_no like concat('%', #{queryForm.orderNo,jdbcType=VARCHAR}, '%')
        </if>
        <if test="queryForm.collectionCardNo != null and queryForm.collectionCardNo != ''">
            and collection_card_no = #{queryForm.collectionCardNo,jdbcType=VARCHAR}
        </if>
        <if test="queryForm.depositHolder != null and queryForm.depositHolder != ''">
            and deposit_holder_hash = #{queryForm.depositHolderHash,jdbcType=VARCHAR}
        </if>
        <if test="queryForm.status != null">
            and status = #{queryForm.status,jdbcType=INTEGER}
        </if>
        <if test="queryForm.startDate != null and queryForm.startDate != '' and queryForm.endDate != null and queryForm.endDate != ''">
            and apply_time between concat(#{queryForm.startDate,jdbcType=VARCHAR}, ' 00:00:00') and concat(#{queryForm.endDate,jdbcType=VARCHAR}, ' 23:59:59')
        </if>
        <if test="queryForm.departmentId != null" >
            and department_id = #{queryForm.departmentId,jdbcType=BIGINT}
        </if>
        <if test="queryForm.departmentIds != null and queryForm.departmentIds.size > 0 and queryForm.administratorFlag!=1">
            and department_id in
            <foreach collection="queryForm.departmentIds" open="(" close=")" separator="," item="item" >
                #{item}
            </foreach>
        </if>
    </select>

    <select id="queryDashboardOrderToday" resultType="net.lab1024.sa.admin.module.business.orderinfo.domain.vo.DashboardOrderTodayVO">
        SELECT tpci.mer_name AS channel_name, tpoi.currency,
               COALESCE(tpoi.total_amount, 0) AS total_amount,
               COALESCE(tpoi.order_count, 0) AS total_order_count
        FROM t_payment_channel_info tpci
                 LEFT JOIN (
            SELECT department_id, currency, sum(amount) AS total_amount, count(*) AS order_count
            FROM t_order_info
            WHERE status = 2
              AND create_time BETWEEN CONCAT( #{date,jdbcType=VARCHAR}, ' 00:00:00' )
                AND CONCAT( #{date,jdbcType=VARCHAR}, ' 23:59:59' )
            GROUP BY department_id, currency
            ORDER BY order_count, total_amount
        ) AS tpoi ON tpci.department_id = tpoi.department_id
        <if test="departmentId != null">
            WHERE tpci.department_id = #{departmentId}
        </if>
    </select>

    <select id="getExcelExportData" resultType="net.lab1024.sa.admin.module.business.orderinfo.domain.vo.OrderInfoVO">
        SELECT
        *
        FROM t_order_info
        WHERE 1=1
        <if test="queryForm.currency != null and queryForm.currency != ''">
            and currency = #{queryForm.currency,jdbcType=VARCHAR}
        </if>
        <if test="queryForm.orderNo != null and queryForm.orderNo != ''">
            and order_no like concat('%', #{queryForm.orderNo,jdbcType=VARCHAR}, '%')
        </if>
        <if test="queryForm.collectionCardNo != null and queryForm.collectionCardNo != ''">
            and collection_card_no = #{queryForm.collectionCardNo,jdbcType=BIGINT}
        </if>
        <if test="queryForm.depositHolder != null and queryForm.depositHolder != ''">
            and deposit_holder like concat('%', #{queryForm.depositHolder,jdbcType=VARCHAR}, '%')
        </if>
        <if test="queryForm.status != null and queryForm.status != ''">
            and status = #{queryForm.status,jdbcType=INTEGER}
        </if>
        <if test="queryForm.startDate != null and queryForm.startDate != '' and queryForm.endDate != null and queryForm.endDate != ''">
            and apply_time between concat(#{queryForm.startDate,jdbcType=VARCHAR}, ' 00:00:00') and concat(#{queryForm.endDate,jdbcType=VARCHAR}, ' 23:59:59')
        </if>
        <if test="queryForm.departmentIds != null and queryForm.departmentIds.size > 0 and queryForm.administratorFlag!=1">
            and department_id in
            <foreach collection="queryForm.departmentIds" open="(" close=")" separator="," item="item" >
                #{item}
            </foreach>
        </if>
        order by create_time desc
    </select>
</mapper>