<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.merchantmanage.dao.MerchantManageDao">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.business.merchantmanage.domain.vo.MerchantManageVO">
        SELECT
        *
        FROM t_merchant_manage
        where 1=1
        <if test="queryForm.departmentId != null and queryForm.departmentId != '' and queryForm.administratorFlag!=1">
            and department_id = #{queryForm.departmentId}
        </if>
    </select>


</mapper>